.todoList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.linkTodo {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 2px 5px;
    text-decoration: none;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: black;
}

.linkTodo:hover {
    background-color: #bdbdbd;
}
